footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 15px;
    color: var(--logo-text);
    z-index: 1;
    background-color: var(--main-light);
}

footer a {
    display: inline-flex;
    vertical-align: bottom;
}

footer img {
    width: 20px;
    height: auto;
}
