main {
    flex: 1;
    position: relative;
    transition: filter 1s ease;
    background-color: var(--main-dark);
    --enemy-name-color: red;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --title-shadow: #808d93;
    --title-shadow2: #cdd2d5;
}

main.loading {
    filter: brightness(0);
}

.menu {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../img/start.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shadow {
    background-color: var(--shadow-color);
    position: absolute;
    width: 100%;
    height: 100%;
}

.startPanel {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.startPanel .title {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 0px 0px 5px var(--main-light), 0px 0px 5px var(--main-light),
        0px 0px 5px var(--main-light), 0px 0px 5px var(--main-light),
        0px 0px 5px var(--main-light), 0px 0px 5px var(--main-light),
        0 1px var(--title-shadow), -1px 0 var(--title-shadow2),
        -1px 2px var(--title-shadow), -2px 1px var(--title-shadow2),
        -2px 3px var(--title-shadow), -3px 2px var(--title-shadow2),
        -3px 4px var(--title-shadow), -4px 3px var(--title-shadow2),
        -4px 5px var(--title-shadow), -5px 4px var(--title-shadow2),
        -5px 6px var(--title-shadow), -6px 5px var(--title-shadow2),
        -6px 7px var(--title-shadow), -7px 6px var(--title-shadow2),
        -7px 8px var(--title-shadow), -8px 7px var(--title-shadow2);
}

.startPanel .startBtn {
    font-size: 2rem;
    padding: 20px 30px;
    border: 5px solid var(--main-dark);
    background-color: var(--main-dark);
    border-radius: 40px;
    color: var(--main-light);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.startPanel .startBtn:hover {
    color: var(--main-dark);
    background-color: var(--button-bgc-hover);
}

.startPanel .startBtn:active {
    transform: scale(0.9);
}

.gameBoard {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/battlefield/map.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--main-light);
}

.strategyPanel {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s ease;
}

.strategyPanel.blur {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(7px);
    background-color: var(--shadow-color);
    transition: all 0.3s ease;
}

.strategyPanel .title {
    margin-bottom: 20px;
}

.panel {
    width: 100%;
    padding: 0 50px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel .silhouette {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.panel .silhouette img {
    cursor: pointer;
    filter: invert(22%) sepia(66%) saturate(3195%) hue-rotate(101deg)
        brightness(102%) contrast(106%);
    transition: filter 0.3s ease;
}

.panel .silhouette:hover img {
    filter: invert(62%) sepia(66%) saturate(4015%) hue-rotate(77deg)
        brightness(124%) contrast(102%);
}

.panel .silhouette.selected img {
    filter: invert(62%) sepia(66%) saturate(4015%) hue-rotate(77deg)
        brightness(124%) contrast(102%);
}

.panel .silhouette img.rotateDown {
    transform: rotate(90deg) scaleY(-1);
}

.panel .message {
    pointer-events: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 400%;
    z-index: 1;
    padding: 10px 20px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px var(--main-dark), 0px 0px 5px var(--main-dark),
        0px 0px 5px var(--main-dark), 0px 0px 5px var(--main-dark),
        0px 0px 5px var(--main-dark), 0px 0px 5px var(--main-dark),
        0px 0px 5px var(--main-dark), 0px 0px 5px var(--main-dark);
}
.panel .ships {
    flex: 1;
    height: 100%;
    display: flex;
    padding-bottom: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.ships li {
    height: 100%;
    width: 100%;
    position: relative;
}

.ships .contour {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(22%) sepia(66%) saturate(3195%) hue-rotate(101deg)
        brightness(102%) contrast(106%);
}

.ships .contour.carrier {
    background-image: url("../img/strategyPanel/ships/carrier_contour.png");
}
.ships .contour.battleship {
    background-image: url("../img/strategyPanel/ships/battleship_contour.png");
}
.ships .contour.destroyer {
    background-image: url("../img/strategyPanel/ships/destroyer_contour.png");
}
.ships .contour.submarine {
    background-image: url("../img/strategyPanel/ships/submarine_contour.png");
}
.ships .contour.patrolBoat {
    background-image: url("../img/strategyPanel/ships/patrol_boat_contour.png");
}

.ships .name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}

.ships .silhouette:hover + .name {
    transform: translateX(-50%) scale(1.1);
}

.panel .grid {
    position: relative;
    --firstGradient: rgba(0, 128, 0, 0.25);
    --secondGradient: rgba(0, 128, 0, 0.5);
}

.panel .grid .outer {
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
}

.panel .grid .outer.top,
.panel .grid .x-axes {
    grid-template: 55px / repeat(10, 55px);
    padding: 0 3px;
}

.panel .grid .outer.top > div,
.panel .grid .x-axes > div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 1px transparent;
}

.panel .grid .outer.top > div:last-of-type,
.panel .grid .x-axes > div:last-of-type {
    border-right: solid 1px transparent;
}

.panel .grid .outer.top {
    left: 0;
    bottom: 100%;
}

.panel .grid .outer.top > div {
    border-image: linear-gradient(
            to bottom,
            transparent,
            var(--firstGradient),
            var(--secondGradient),
            var(--ship-silhouette)
        )
        1;
}

.panel .grid .x-axes {
    left: 0;
    top: 100%;
}

.panel .grid .x-axes > div {
    border-image: linear-gradient(
            to top,
            transparent,
            var(--firstGradient),
            var(--secondGradient),
            var(--ship-silhouette)
        )
        1;
}

.panel .grid .outer.right,
.panel .grid .y-axes {
    grid-template: repeat(10, 55px) / 55px;
    padding: 3px 0;
}
.panel .grid .outer.right > div,
.panel .grid .y-axes > div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px transparent;
}

.panel .grid .outer.right > div:last-of-type,
.panel .grid .y-axes > div:last-of-type {
    border-bottom: solid 1px transparent;
}

.panel .grid .y-axes.left {
    right: 100%;
    top: 0;
}

.panel .grid .y-axes.left > div {
    border-image: linear-gradient(
            to right,
            transparent,
            var(--firstGradient),
            var(--secondGradient),
            var(--ship-silhouette)
        )
        1;
}

.panel .grid .outer.right {
    left: 100%;
    top: 0;
}

.panel .grid .outer.right > div {
    border-image: linear-gradient(
            to left,
            transparent,
            var(--firstGradient),
            var(--secondGradient),
            var(--ship-silhouette)
        )
        1;
}

.panel .grid .container {
    display: grid;
    border: solid 3px var(--ship-silhouette-hover);
    grid-template: repeat(10, 55px) / repeat(10, 55px);
}

.panel .grid .container > div {
    position: relative;
}

.panel .grid .container > div.placed {
    background: repeating-linear-gradient(
        45deg,
        var(--main-dark) 0%,
        var(--main-dark) 5%,
        transparent 5%,
        transparent 10%
    );
}

.panel .grid .container > div:not(:nth-of-type(10n - 9)) {
    border-left: 1px solid var(--ship-silhouette);
}

.panel .grid .container > div:not(:nth-of-type(-n + 10)) {
    border-top: 1px solid var(--ship-silhouette);
}

.panel .control {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.panel .control li {
    color: var(--main-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel .control li:first-of-type {
    row-gap: 20px;
}

.panel .control li div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel .control button {
    cursor: pointer;
    border: 3px solid var(--ship-silhouette);
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    transition: all 0.1s ease, opacity 0.3s ease;
}

.panel .control button:hover {
    border-color: var(--ship-silhouette-hover);
    transform: scale(1.1);
}

.panel .control button:active {
    transform: scale(1);
}

.panel .control button img {
    max-width: 100%;
    height: auto;
    filter: invert(62%) sepia(66%) saturate(4015%) hue-rotate(77deg)
        brightness(124%) contrast(102%);
}

.panel .control .rotateBtn:disabled {
    opacity: 0.3;
    pointer-events: none;
}

.panel .control img.rotateDown {
    transform: rotate(90deg) scaleY(1);
}

/* ----- battlePanel ----- */

.battlePanel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.battlefield {
    background-color: transparent;
    transform: rotate(45deg) skew(-10deg, -10deg);
    display: flex;
    column-gap: 50px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    --trapezium-height: 20px;
    --trapezium-width: 100px;
    position: relative;
}

.field .trapezium {
    padding: var(--trapezium-height) var(--trapezium-width);
    position: relative;
}

.field .trapezium::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-style: solid;
    border-color: transparent;

    border-top: none;
    border-bottom-width: calc(var(--trapezium-height) * 2);
    border-left-width: calc(var(--trapezium-width) / 2);
    border-right-width: calc(var(--trapezium-width) / 2);
}
.field:nth-of-type(1) .trapezium::before {
    border-bottom-color: var(--main-dark);
}
.field:nth-of-type(2) .trapezium::before {
    border-bottom-color: var(--enemy-name-color);
}

.field .name span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field .grid {
    position: relative;
}

.field .grid .x-axes,
.field .grid .y-axes {
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
}

.field .grid .x-axes {
    right: 100%;
    top: 0;
    grid-template: repeat(10, 40px) / 40px;
}

.field .grid .y-axes {
    right: 0;
    top: 100%;
    grid-template: 40px / repeat(10, 40px);
}

.field .grid .container {
    display: grid;
    grid-template: repeat(10, 40px) / repeat(10, 40px);
    border: 1px solid var(--main-dark);
}

.field .grid .container div:not(:nth-child(10n - 9)) {
    border-left: 1px solid var(--main-dark);
}

.field .grid .container div:not(:nth-child(-n + 10)) {
    border-top: 1px solid var(--main-dark);
}

.fleetState {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid var(--ship-silhouette);
    border-right: 1px solid var(--ship-silhouette);
    --damaged-percent: 50%;
}

.fleetState li {
    background-color: var(--main-dark);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fleetState li:not(:last-child) {
    border-bottom: 1px solid var(--ship-silhouette);
}

.fleetState li img {
    max-width: 50%;
    height: auto;
}

.fleetState li img.target {
    background: linear-gradient(
        to right,
        red var(--damaged-percent),
        var(--ship-silhouette) var(--damaged-percent)
    );
}

.battlePanel .control {
    position: absolute;
    display: flex;
    right: 20px;
    top: 20px;
}

.battlePanel .control li {
    color: var(--main-light);
    display: flex;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battlePanel .control li > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battlePanel .control button {
    cursor: pointer;
    border: 3px solid var(--ship-silhouette);
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    transition: all ease 0.1s;
}

.battlePanel .control button:hover {
    border: 3px solid var(--ship-silhouette-hover);
}

.battlePanel .control button:hover {
    transform: scale(1.1);
}

.battlePanel .control button:active {
    transform: scale(1);
}

.battlePanel .control button img {
    max-width: 100%;
    max-height: 100%;
    filter: invert(22%) sepia(66%) saturate(3195%) hue-rotate(101deg)
        brightness(102%) contrast(106%);
    transition: all ease 0.1s;
}

.battlePanel .control button img:hover {
    filter: invert(62%) sepia(66%) saturate(4015%) hue-rotate(77deg)
        brightness(124%) contrast(102%);
}
