main {
    flex: 1;
    position: relative;
    transition: filter 1s ease;
    background-color: var(--main-dark);
    --enemy-name-color: red;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --title-shadow: #808d93;
    --title-shadow2: #cdd2d5;
}

main.loading {
    filter: brightness(0);
}

.menu {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../img/start.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
    /* 按下 start 後啟動 */
}

.shadow {
    background-color: var(--shadow-color);
    position: absolute;
    width: 100%;
    height: 100%;
}

.startPanel {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.startPanel .title {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 0px 0px 5px var(--main-light), 0px 0px 5px var(--main-light),
        0px 0px 5px var(--main-light), 0px 0px 5px var(--main-light);
}

.startPanel button {
    font-size: 2rem;
    padding: 20px 30px;
    border: 5px solid var(--main-dark);
    background-color: var(--main-dark);
    border-radius: 40px;
    color: var(--main-light);
    cursor: pointer;
    transition: background-color ease 0.3s, transform ease 0.1s;
}

.startPanel button:hover {
    color: var(--main-dark);
    background-color: var(--button-bgc-hover);
}

.startPanel button:active {
    transform: scale(0.9);
}

.gameBoard {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/battlefield/map.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-light);
    /* display: none;  */
    /* 按下 start 後啟動 */
}

.gameBoard > div:first-of-type {
    opacity: 0;
    transition: all ease 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
}

/* .gameBoard > div:first-of-type.blur {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.5);
} */

.strategyPanel {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.strategyPanel > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.strategyPanel .ships {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    justify-content: space-between;
}

.strategyPanel .ships li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}

.strategyPanel .ships li > div {
    position: relative;
}

.strategyPanel .ships li img {
    min-width: 100%;
    height: auto;
}

.strategyPanel .ships li > div img:nth-child(1) {
    pointer-events: none;
    filter: invert(62%) sepia(66%) saturate(4015%) hue-rotate(77deg)
        brightness(124%) contrast(102%);
}

.strategyPanel .ships li > div img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
    filter: invert(22%) sepia(66%) saturate(3195%) hue-rotate(101deg)
        brightness(102%) contrast(106%);
    transition: filter ease 0.3s;
}

.strategyPanel .ships li > div img:nth-child(2):hover {
    filter: invert(62%) sepia(66%) saturate(4015%) hue-rotate(77deg)
        brightness(124%) contrast(102%);
}

.strategyPanel .ships li > div:hover + p {
    transform: scale(1.1);
    transition: transform ease 0.3s;
}

.strategyPanel .ships li > div:active + p {
    transform: scale(1);
}

.strategyPanel .grid {
    width: 700px;
    min-width: 700px;
    height: 700px;
    display: grid;
    grid-template: 1fr 10fr 1fr / 1fr;
    --firstGradient: rgba(0, 128, 0, 0.25);
    --secondGradient: rgba(0, 128, 0, 0.5);
}

.strategyPanel .grid > div:nth-child(2) {
    display: grid;
    grid-template: 1fr / 1fr 10fr 1fr;
}

.strategyPanel .grid > div:nth-child(2n-1) {
    display: flex;
    margin: 0 3px;
}

.strategyPanel .grid > div:nth-child(2n-1) > div {
    flex: 1;
}

.strategyPanel .grid > div:nth-child(2n-1) > div:not(:nth-child(1)) {
    border-width: 0;
    border-left: 1px solid;
}

.strategyPanel .grid > div:nth-child(1) > div:not(:nth-child(1)) {
    border-image: linear-gradient(
            to bottom,
            transparent,
            var(--firstGradient) var(--secondGradient) var(--ship-silhouette)
        )
        1;
}

.strategyPanel .grid > div:nth-child(3) > div:not(:nth-child(1)) {
    border-image: linear-gradient(
            to top,
            transparent,
            var(--firstGradient) var(--secondGradient) var(--ship-silhouette)
        )
        1;
}

.strategyPanel .grid > div:nth-child(2) > :nth-child(2n-1) {
    display: flex;
    flex-direction: column;

    border-width: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;

    margin: 3px 0;
}

.strategyPanel .grid > div:nth-child(2) > :nth-child(2n-1) div {
    flex: 1;
}

.strategyPanel
    .grid
    > div:nth-child(2)
    > :nth-child(2n-1)
    div:not(:nth-child(1)) {
    border-width: 0;
    border-top: 1px solid;
}

.strategyPanel .grid > div:nth-child(2) > :nth-child(1),
.strategyPanel .grid > div:nth-child(2) > :nth-child(1) div:not(:nth-child(1)) {
    border-image: linear-gradient(
            to right,
            transparent,
            var(--firstGradient) var(--secondGradient) var(--ship-silhouette)
        )
        1;
}

.strategyPanel .grid > div:nth-child(2) > :nth-child(3),
.strategyPanel .grid > div:nth-child(2) > :nth-child(3) div:not(:nth-child(1)) {
    border-image: linear-gradient(
            to left,
            transparent,
            var(--firstGradient) var(--secondGradient) var(--ship-silhouette)
        )
        1;
}

.strategyPanel .grid .container {
    border: solid 3px var(--ship-silhouette-hover);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.strategyPanel .grid .container > div {
    position: relative;
}

.strategyPanel .grid .container > div:not(:nth-child(10n - 9)) {
    border-left: 1px solid var(--ship-silhouette);
}

.strategyPanel .grid .container > div:not(:nth-child(-n + 10)) {
    border-top: 1px solid var(--ship-silhouette);
}

}

.strategyPanel .control {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    row-gap: 50px;
}

.strategyPanel .control li {
    color: var(--main-light);
    display: flex;
    padding-left: 50px;
}

.strategyPanel .control li > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strategyPanel .control li:nth-child(2) {
    margin-bottom: auto;
}

.strategyPanel .control button {
    cursor: pointer;
    border: 3px solid #008000;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    transition: all ease 0.1s;
}

.strategyPanel .control button:first-of-type.down {
    transform: rotate(90deg) scaleY(1);
}
.strategyPanel .control button:first-of-type.down:hover {
    transform: rotate(90deg) scaleY(1) scale(1.1);
}
.strategyPanel .control button:first-of-type.down:active {
    transform: rotate(90deg) scaleY(1) scale(1);
}

.strategyPanel .control button:hover {
    border-color: var(--ship-silhouette-hover);
    transform: scale(1.1);
}

.strategyPanel .control button:active {
    transform: scale(1);
}

.strategyPanel .control button img {
    max-width: 100%;
    max-height: 100%;
    filter: invert(62%) sepia(66%) saturate(4015%) hue-rotate(77deg)
        brightness(124%) contrast(102%);
}

.battlefield {
    background-color: transparent;
    transform: rotate(45deg) skew(-10deg, -10deg);
    display: flex;
    column-gap: 50px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    --trapezium-height: 20px;
    --trapezium-width: 100px;
    position: relative;
}

.field .name {
    padding: var(--trapezium-height) var(--trapezium-width);
    position: relative;
}

.field .name::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-style: solid;
    border-color: transparent;

    border-top: none;
    border-bottom-width: calc(var(--trapezium-height) * 2);
    border-left-width: calc(var(--trapezium-width) / 2);
    border-right-width: calc(var(--trapezium-width) / 2);
}
.field:nth-of-type(1) .name::before {
    border-bottom-color: var(--main-dark);
}
.field:nth-of-type(2) .name::before {
    border-bottom-color: red;
}

.field .name span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field .grid {
    position: relative;
}

.field .grid .x-axes,
.field .grid .y-axes {
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
}

.field .grid .x-axes {
    right: 100%;
    top: 0;
    grid-template: repeat(10, 40px) / 40px;
}

.field .grid .y-axes {
    right: 0;
    top: 100%;
    grid-template: 40px / repeat(10, 40px);
}

.field .grid .container {
    display: grid;
    grid-template: repeat(10, 40px) / repeat(10, 40px);
    border: 1px solid var(--main-dark);
}

.field .grid .container div:not(:nth-child(10n - 9)) {
    border-left: 1px solid var(--main-dark);
}

.field .grid .container div:not(:nth-child(-n + 10)) {
    border-top: 1px solid var(--main-dark);
}

.fleetState {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid var(--ship-silhouette);
    border-right: 1px solid var(--ship-silhouette);
    --damaged-percent: 50%;
}

.fleetState li {
    background-color: var(--main-dark);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fleetState li:not(:last-child) {
    border-bottom: 1px solid var(--ship-silhouette);
}

.fleetState li img {
    max-width: 50%;
    height: auto;
}

.fleetState li img.target {
    background: linear-gradient(
        to right,
        red var(--damaged-percent),
        var(--ship-silhouette) var(--damaged-percent)
    );
}

.battlePanel .control {
    position: absolute;
    display: flex;
    right: 20px;
    top: 20px;
}

.battlePanel .control li {
    color: var(--main-light);
    display: flex;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battlePanel .control li > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battlePanel .control button {
    cursor: pointer;
    border: 3px solid var(--ship-silhouette);
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    transition: all ease 0.1s;
}

.battlePanel .control button:hover {
    border: 3px solid var(--ship-silhouette-hover);
}

.battlePanel .control button:hover {
    transform: scale(1.1);
}

.battlePanel .control button:active {
    transform: scale(1);
}

.battlePanel .control button img {
    max-width: 100%;
    max-height: 100%;
    filter: invert(22%) sepia(66%) saturate(3195%) hue-rotate(101deg)
        brightness(102%) contrast(106%);
    transition: all ease 0.1s;
}

.battlePanel .control button img:hover {
    filter: invert(62%) sepia(66%) saturate(4015%) hue-rotate(77deg)
        brightness(124%) contrast(102%);
}
